.partners-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .partners-scroll::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
  